.App {
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  text-align: center;
  background-color: #004080;
}
.App-header {
  background-color: #282c34;
  grid-column: span 3;
  grid-row: 1;
  display: flex;
  flex-direction: center;
  align-items: center;
  padding: 8px;
  justify-content: left;
  font-size: 16px;
  color: white;
}
.App-footer {
  background-color: #282c34;
  grid-column: 1 / span 3;
  font-size: calc(5px + 2vmin);
  color: white;
  text-align:right;

}
.App-logo {
  width: 50px;
  margin-right: 20px;
  margin-left: 10px;
}
.content {
  grid-column: 2;
  grid-row: 2;
  background-color: #cce6ff;
}
.content > div{
  padding-bottom: 3rem;
}

#jutro,
#pojutrze,
#popojutrze
{
  background-color: #80bfff;
  color: black;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 10px;
  margin: 2rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cce6ff;
  padding: 3rem;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.today-forecast {
  display: flex;
  justify-content: space-between;
  padding: 80px;
}

.forecast-item {
  margin-right: 20px;
}

.multi-day-forecast {
  hover: none;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.multi-day-forecast > div {
  flex-grow: 1;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
}

.App-link {
  color: #61dafb;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 3rem;
}

hr {
margin-bottom: 30px;
}

th, td {
  padding: 10px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #80bfff;
}
tr:hover {
  background-color: #e6f9ff;
}
td:first-child {
  border-left: 1px solid #ccc;
}
td:last-child {
  border-right: 1px solid #ccc;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}